#skills {
  background-color: var(--color-yellow);
}

.skillset {
  height: 350px;
  display: flex;
  background-color: var(--color-light-grey);
  margin: 20px 0;
}

.skillset__title {
  color: white;
}

.skill {
  margin-bottom: 26px;
}

.skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skill__bar {
  width: 100%;
  height: 5px;
  background-color: var(--color-grey);
}

.skill__value {
  height: 5px;
  background-color: var(--color-orange);
}

.skill__description {
  display: flex;
  justify-content: space-between;
  color: white;
}

.skillset__right {
  flex-basis: 40%;
}

.tools,
.etc {
  padding: 20px;
}
.tools {
  height: 50%;
  background-color: var(--color-grey);
}

.tools__list {
  color: white;
  margin-top: 12px;
}

.tools__list > li {
  margin-top: 20px;
}

.etc__list {
  color: white;
}

.etc__list > li {
  margin-top: 20px;
}
